@font-face {
  font-family: "Montserrat-Bold";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

.gallery-picture {
  cursor: pointer;
}

.gallery-pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  height: 100vh;
  opacity: 0;
  z-index: -1;
  transition: opacity 700ms;
}

.gallery-pop-up-opend {
  z-index: 3;
  opacity: 1;
  transition: opacity 500ms;
}

.gallery-pop-up-opend .gallery-overlay {
  background-color: #000000;
  opacity: 40%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.gallery-pop-up-container {
  position: relative;
}

.gallery-button-close {
  border: none;
  position: absolute;
  top: -50px;
  right: -17px;
  z-index: 4;
  width: 50px;
  height: 50px;
  background-color: transparent;
  opacity: 0.7;
  transition: transform 200ms, opacity 200ms;
  cursor: pointer;
}

.gallery-button-close::before,
.gallery-button-close::after {
  position: absolute;
  border-radius: 100% 100% 100% 100%;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
}

.gallery-button-close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.gallery-button-close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.gallery-button-close:hover {
  transform: scale(1.2);
  opacity: 1;
  transition: transform 200ms, opacity 200ms;
}

.gallery-pop-up-picture {
  opacity: 0;
}

.gallery-pop-up-opend .gallery-pop-up-picture {
  position: relative;
  z-index: 4;
  max-width: 1024px;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 100ms;
}

.inflation-principles-container {
  margin-left: 20px;
  margin-right: 0;
  padding-top: 4.6em;
  padding-bottom: 1em;
  position: relative;
}

.inflation-principles-bill {
  background-image: url(../img/bill.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vw;
  max-height: 18rem;
}

.inflation-principles-bill::after {
  content: "";
  position: absolute;
  top: 4.6em;
  bottom: 0;
  left: -20px;
  right: 57%;
  border-top: 1rem solid #EAEAEA;
  border-right: 1rem solid #EAEAEA;
  border-bottom: 1rem solid #EAEAEA;
  z-index: -1;
}

.inflation-principles-bill::before {
  content: "";
  position: absolute;
  top: 2.2em;
  bottom: 50%;
  left: 53%;
  right: 0;
  border-top: 1rem solid #D31E28;
  border-left: 1rem solid #D31E28;
  z-index: -1;
}

@media (min-width: 68em) {
  .inflation-factors {
    padding-top: 60px;
  }

  .inflation-factors-list li:nth-child(3) .offers-text,
  .inflation-factors-list li:nth-child(4) .offers-text {
    border-bottom: none;
  }

  .inflation-factors-list li:nth-child(1)::before {
    background-image: url(../img/coins.svg);
  }

  .inflation-factors-list li:nth-child(2)::before {
    background-image: url(../img/percent.svg);
  }

  .inflation-factors-list li:nth-child(3)::before {
    background-image: url(../img/globe.svg);
  }

  .inflation-factors-list li:nth-child(4)::before {
    background-image: url(../img/scales.svg);
  }

  .inflation-factors-list li::before {
    position: absolute;
    top: -9px;
    left: -2px;
  }

  .inflation-principles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    margin-left: auto;
    max-width: none;
    min-height: 324px;
  }

  .inflation-principles-lake {
    background-image: url(../img/lake.jpg);
    flex-basis: 60%;
    position: relative;
    background-size: cover;
  }

  .inflation-principles-lake::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 65%;
    background-color: #EAEAEA;
  }

  .inflation-principles-container p {
    position: absolute;
    bottom: 1.6em;
    background-color: #ffffff;
    margin: 0;
    width: 57%;
    left: 50%;
    transform: translate(-85%, 0);
    padding: 1em 0.9em 1.2em;
    box-sizing: border-box;
    font-size: 1.1em;
  }

  .inflation-principles-bill {
    flex-basis: 37%;
    margin-top: 59px;
    background-size: cover;
    height: auto;
  }

  .inflation-principles-bill::before {
    left: 63%;
    right: 0;
    top: 4.6em;
  }

  .inflation-principles-bill::after {
    content: none;
  }
}