.gallery-picture {
    cursor: pointer;
}

.gallery-pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: opacity 700ms;
}

.gallery-pop-up-opend {
    z-index: 3;
    opacity: 1;
    transition: opacity 500ms;
}

.gallery-pop-up-opend .gallery-overlay {
    background-color: #000000;
    opacity: 40%;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.gallery-pop-up-container {
    position: relative;
}

.gallery-button-close {
    border: none;
    position: absolute;
    top: -32px;
    right: 0px;
    z-index: 4;
    width: 30px;
    height: 30px;
    background-color: transparent;
    opacity: 0.7;
    transition: transform 200ms, opacity 200ms;
    cursor: pointer;
}

.gallery-button-close::before,
.gallery-button-close::after {
    position: absolute;
    border-radius: 100% 100% 100% 100%;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
}

.gallery-button-close::before{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.gallery-button-close::after{
    transform: translate(-50%, -50%) rotate(45deg);
}

.gallery-button-close:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 200ms, opacity 200ms;
}

.gallery-pop-up-picture {
    opacity: 0;
}

.gallery-pop-up-opend .gallery-pop-up-picture {
    position: relative;
    z-index: 4;
    max-width: 1024px;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 100ms;
}

@media (min-width: 68em) {
    .gallery-button-close {
        top: -50px;
        right: -17px;
        width: 50px;
        height: 50px;

        &::before,
        &::after {
            width: 30px;
            height: 3px;
        }
    }
}