.strategies-preview {
    padding-top: 4em;
}

.strategies-preview .quote {
    padding: 1.2em 0.67em 1.12em;
}

@media (min-width: 68em) {
    .strategies-preview p {
        max-width: 39em;
    }

    .strategies-preview .quote {
        max-width: 26em;
        margin-top: 1em;
    }
}